<!DOCTYPE html>
<html lang="en">
    <head> 
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> ¡Alquilá tu auto al instante! </title>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/public/css/normalize.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"rel="stylesheet" />
    </head>
    <body>
        <header>
            <%- include("./partials/header")  %>
        </header> 
        <main class="main-detalles">
                    <div class="banners-T">
                        <img src="/img/cmok.png" class="banner-T">
                    </div>
                    <img src="/img/banner6.jpg" class="banner-verde">

                                 <!--  SLIDER  -->

        <p class="texto-4-T"> ¡Una nueva manera de alquilar autos! </p>

        <div class="espacio-slider"></div>
        <div class="slider">
            <ul>
                <li>
                    <a href="https://www.google.com.ar">
                        <img src="/img/Cybereditado.jpg">
                    </a>
                </li>

                <li>
                    <a href="/detalle-producto/9>">
                        <img src="/img/Mondeo-CM.jpg">
                    </a>
                </li>

                <li>
                    <a href="/detalle-producto/7">
                        <img src="/img/Fiesta-CM.jpg">
                    </a>
                </li>

                <li>
                    <a href="/detalle-producto/12">
                        <img src="/img/Focus-CM.jpg">
                </li>
            </ul>
          </div>

                                 <!-- FINAL SLIDER  -->

            <p class="texto-2"> Nuevos modelos este mes </p>
            <br>
            <section class="flex-container">
                <% for(let producto of productoDetalle) { %>
                <% if(producto.id <= 10) { %>
                    <% if(producto.id == 1 || producto.id == 4 || producto.id == 6 || producto.id == 8) { %>
                        <% } else { %>
                <div class="espacio-foto-T">   </div>
                    <% } %>
                <div class="caja1-home-T">
                    <a href="/detalle-producto/<%=producto.id %>">
                        <img src="/img/<%=producto.foto %>" class="foto-producto">
                        <article class="recuadro-T">
                            <div class="precio-descuento-T"> 
                                <div class="marca-modelo-T">
                                    <p class="nombre-marca-T"><%=producto.marca %></p>
                                    <p class="nombre-modelo-T"><%=producto.modelo %></p>
                                </div>
                                <div class="precio-dia-T">
                                    <% if(producto.id == 9 || producto.id == 7) { %>
                                        <div class="descuento-home-cyber-T">
                                             <h2 class="precio-producto-descuento-T">$<%=producto.precioDia %></h2>
                                                <h2>$<%=producto.precioDia / 2 %> <small class="por-dia-T"> /día </small></h2>
                                        </div>

                                        <% } else { %>
                                            <h2>$<%=producto.precioDia %> <small class="por-dia-T"> /día </small></h2>
                                    <% } %>
                                    
                                </div>
                               
                            </div>
                        </article>
                        <div class="espacio-recuadros"></div>
                    </a>
                </div>
                <% } %>
                <% } %>
                <div class="espacio-recuadros"></div> 
            </section>

            
        </main>

        <footer>  
            <%- include("./partials/footer") %>
        </footer> 
    </body>
</html>
