<!DOCTYPE html>
<html>
    <head>
        <%- include("../partials/head") %>
    </head>
    <body>
        <header>
            <%- include("../partials/header") %>
        </header>   
        <div class="foto-fondo-registro-P">
            <div class="container-P"></div>
            <br>
            <div class="container-P mt-3-P">
                <h1 class="texto-alineado-P"> <strong> Crea tu cuenta </strong></h1>
                <br>
                <form action="/usuario/registro" method="POST" enctype="multipart/form-data">
                    <div class="texto-alineado-P">
                        <div class="form-group-P">
                            <div class="errores">
                            </div>
                            <div class="input-group-P" id="username">
                                <input class="form-control-P" id="nombre" name="nombre" placeholder="Nombre" required type="text">
                                <% if(typeof errores != 'undefined'){ %>
                                    <% for(let i = 0; i < errores.length; i++){ %>
                                    <% if(errores[i].param == "nombre"){ %>
                                    <small class="text-danger"> <%= errores[i].msg%> </small>
                                    
                            <% } %>
                            <% } %>
                            <% } %>
                        </div>

                        </div>
                        <div class="form-group-P">
                            <div class="input-group-P" id="username">
                                <input autofocus class="form-control-P" id="apellido" name="apellido" placeholder="Apellido" required type="text" value>
                                <% if(typeof errores != 'undefined'){ %>
                                    <% for(let i = 0; i < errores.length; i++){ %>
                                    <% if(errores[i].param == "apellido"){ %>
                                    <small class="text-danger"> <%= errores[i].msg%> </small>
                                    
                            <% } %>
                            <% } %>
                            <% } %>
                            
                            </div>
                        </div>


                        <div class="form-group-P">
                            <div class="input-group-P" id="username">
                                <input autofocus class="form-control-P" id="email" name="email" placeholder="Correo electronico" required type="email">
                                <div class="erroresMail2">
                                </div>
                                
                                <% if(typeof errores != 'undefined'){ %>
                                    <% for(let i = 0; i < errores.length; i++){ %>
                                    <% if(errores[i].param == "email"){ %>
                                    
                                    <div class="text-danger"> <%= errores[i].msg%> </div>
                                    
                                        <% } %>
                                        <% } %>
                                        <% } %>
                            </div>
                        </div>

                        
                        
                         <!--<div class="form-group-P">

                
                            <div class="input-group-P" id="username">
                                <input autofocus class="form-control-P" id="cuit" name="cuit" placeholder="Cuit/DNI" required type="text" value>
                            </div>
                        </div>
                        <div class="form-group-P">
                            <div class="input-group-P" id="username">
                                <input autofocus class="form-control-P" id="cel" name="celular" placeholder="Número de celular" required type="text" value>
                            </div>
 
                        
                        </div>
 --> 

                        <div class="form-group-P">
                            <div class="input-group-P" id="show_hide_password">
                                <input autofocus class="form-control-P" id="password" name="password" placeholder="Contraseña" required type="password" value>
                                <% if(typeof errores != 'undefined'){ %>
                                    <% for(let i = 0; i < errores.length; i++){ %>
                                    <% if(errores[i].param == "password"){ %>
                                    <small class="text-danger"> <%= errores[i].msg%> </small>
                                    
                            <% } %>
                            <% } %>
                            <% } %>
                            
                            </div> 
                        </div>
                        <label> Subir foto de perfil </label>
                            <input type="file" name="fotoPerfil">
                            <% if(typeof errores != 'undefined'){ %>
                                <% for(let i = 0; i < errores.length; i++){ %>
                                <% if(errores[i].param == "fotoPerfil"){ %>
                                <small class="text-danger"> <%= errores[i].msg%> </small>
                                
                        <% } %>
                        <% } %>
                        <% } %>

                        <div class="footer-P">
                            <div>
                                <button class="btn-login" type="submit" id="botonRegistro"> Crear cuenta </button>
                            </div>
                        </div>
                        <br>
                        <a href="https://www.facebook.com/" class="hipervinculo-p"> Continuar con facebook </a>
                        <br>
                        <br>
                        <a href="https://www.google.com/" class="hipervinculo-p"> Continuar con Google </a>
                    </div>
                </form>    
            </div>
            <br>
            <p class="texto-alineado-P"> ¿Ya tienes una cuenta? 
                <a href="login" class="hipervinculo-p"> Inicia sesion </a>
            </p>
        </div>  
        <footer>  
            <%- include("../partials/footer") %>
        </footer> 

        <script src="/js/registro.js"></script>
        <script src="/js/validacionMail2.js"></script>
    </body> 
</html>