<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head") %>
</head>

<header>
    
    <%- include("../partials/header") %>

</header>

<body >
<div class="body-detalle-producto-T">


    <div class="detalle-producto-total-T">
      
        <article class="detalle-producto-fotoydescripcion-T" >
            <img src="/img/<%=productoDetalle.foto%>" alt="product image" class="detalle-producto-foto-T">

            <p class="detalle-producto-descripcion-T">
                 <%=productoDetalle.descripcion%>
            </p> 
        
        </article>
      

    <div class="detalle-producto-caracteristicas-T">
        <p class="detalle-producto-marca-T">
            <%=productoDetalle.marca%>
        </p>

        <p class="detalle-producto-modelo-T">
            <%=productoDetalle.modelo%>
        </p>

        <p class="detalle-producto-ano-T">
            <%=productoDetalle.año%>    
        </p>

        <p class="retiro-entrega-T"> Elegir Retiro / Entrega del vehículo </p>
        <label class="elegir-entrega"> 
            <input type="radio" name="entrega" checked class="input-entrega"> Planta de RentalCar 
            <input type="radio" name="entrega" class="input-entrega"> A coordinar con el dueño
        </label>

        <p class="detalle-producto-precio-T">
            <% if(productoDetalle.id == 9 || productoDetalle.id == 7 || productoDetalle.id == 12) { %>
                <h2 class="descuento-cyber-T"> Descuento CyberMonday </h2>
                <h2 class="precio-producto-descuento-T">$ <%=productoDetalle.precioDia%> </h2>
                <h2 class ="precioCarritof">$<%=productoDetalle.precioDia / 2 %></h2>
                <% } else { %>
           <h2 class="precioCarritof" class="precio-final-T" > $ <%=productoDetalle.precioDia%> </h2>
            <% } %> 
            <div>

               


                <div>
                    <p class="cantidad-dias-T"> Elegir cantidad de Días</p>
                </div>

                    <select name="Dias" id="diasAuto">
                            <option value="1">1</option>
                            <option value="2">2</option> 
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option> 
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option> 
                            <option value="9">9</option>
                    </select>
            </div>
        </p>

        <div class="detalle-producto-boton-T">
            <button type="button" class="btn btn-outline-primary waves-effect" id="boton-alquilar-ahora-T"> Alquilar ahora</button>
        </div>

        <div class="detalle-producto-botones-extra-T">
            <a href="/editar-producto/<%=productoDetalle.id%>" class="action-button edit" >
                <button type="button" class="btn btn-outline-primary waves-effect" id="boton-alquilar-ahora-T-2"> Editar </button> </a>

            <form action="/<%=productoDetalle.id%>?_method=DELETE" method="POST" style="display: inline-flex" onsubmit="return confirm('¿Estás seguro que querés eliminarlo?');">
            <button type="submit" class="btn btn-outline-primary waves-effect" id="boton-alquilar-ahora-T-3"> Eliminar </button>
            </form>
        </div>
    
    </div>
    
</div>
</div>
</body>
<script src="/js/pruebaCarrito.js"></script>
</html>


<footer>

    <%- include("../partials/footer") %>
    
</footer>

</html>